In [1]:
import pandas as pd
import numpy as np

In [2]:
cols=['sentiments','id','date','query_string','user','text']

In [3]:
df=pd.read_csv('training.1600000.processed.noemoticon.csv', encoding='ISO-8859-1', header=None, names=cols)

In [4]:
df.head()

,sentiments,id,date,query_string,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [5]:
df.shape

(1600000, 6)

In [6]:
df.sentiments.replace({4:1},inplace=True)

In [7]:
df.tail(10)

,sentiments,id,date,query_string,user,text
1599990,1,2193579249,Tue Jun 16 08:38:59 PDT 2009,NO_QUERY,razzberry5594,WOOOOO! Xbox is back
1599991,1,2193579284,Tue Jun 16 08:38:59 PDT 2009,NO_QUERY,AgustinaP,@rmedina @LaTati Mmmm That sounds absolutely ...
1599992,1,2193579434,Tue Jun 16 08:39:00 PDT 2009,NO_QUERY,sdancingsteph,ReCoVeRiNg FrOm ThE lOnG wEeKeNd
1599993,1,2193579477,Tue Jun 16 08:39:00 PDT 2009,NO_QUERY,ChloeAmisha,@SCOOBY_GRITBOYS
1599994,1,2193579489,Tue Jun 16 08:39:00 PDT 2009,NO_QUERY,EvolveTom,"@Cliff_Forster Yeah, that does work better tha..."
1599995,1,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,1,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,1,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,1,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,1,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [8]:
df.isnull().sum()

sentiments      0
id              0
date            0
query_string    0
user            0
text            0
dtype: int64

In [9]:
df=df.drop(['id','date','query_string','user'],axis=1)

In [10]:
df.head()

   sentiments                                               text
0           0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1           0  is upset that he can't update his Facebook by ...
2           0  @Kenichan I dived many times for the ball. Man...
3           0    my whole body feels itchy and like its on fire
4           0  @nationwideclass no, it's not behaving at all....

In [11]:
df.tail()

         sentiments                                               text
1599995           1  Just woke up. Having no school is the best fee...
1599996           1  TheWDB.com - Very cool to hear old Walt interv...
1599997           1  Are you ready for your MoJo Makeover? Ask me f...
1599998           1  Happy 38th Birthday to my boo of alll time!!! ...
1599999           1  happy #charitytuesday @theNSPCC @SparksCharity...

In [12]:
df['text']=df.text.apply(str.lower)

In [13]:
df.head()

   sentiments                                               text
0           0  @switchfoot http://twitpic.com/2y1zl - awww, t...
1           0  is upset that he can't update his facebook by ...
2           0  @kenichan i dived many times for the ball. man...
3           0    my whole body feels itchy and like its on fire
4           0  @nationwideclass no, it's not behaving at all....

In [14]:
import string

In [15]:
punc=string.punctuation

In [16]:
def removePunch(s):
    list=[]
    for char in s:
        if(char not in punc):
            list.append(char)
    ss=''.join(list)        
    return ss

In [17]:
df['text']=df.text.apply(removePunch)

In [18]:
from nltk.corpus import stopwords

In [19]:
sp=stopwords.words('english')

In [20]:
def removeStopWords(s):
    list2=[]
    split_list=s.split()
    for w in split_list:
        if(w not in sp):
            list2.append(w)
    ss=' '.join(list2)        
    return ss

In [21]:
df['text']=df.text.apply(removeStopWords)

In [22]:
df.head()

   sentiments                                               text
0           0  switchfoot httptwitpiccom2y1zl awww thats bumm...
1           0  upset cant update facebook texting might cry r...
2           0  kenichan dived many times ball managed save 50...
3           0                   whole body feels itchy like fire
4           0           nationwideclass behaving im mad cant see

In [23]:
from nltk.stem import PorterStemmer
def stemming(s):
    ps=PorterStemmer()
    list=s.split()
    list2=[]
    for word in list:
        ss=ps.stem(word)
        list2.append(ss)
    ss=' '.join(list2)    
    return ss

In [24]:
df['text']=df.text.apply(stemming)

In [25]:
df.head()

   sentiments                                               text
0           0  switchfoot httptwitpiccom2y1zl awww that bumme...
1           0  upset cant updat facebook text might cri resul...
2           0  kenichan dive mani time ball manag save 50 res...
3           0                    whole bodi feel itchi like fire
4           0              nationwideclass behav im mad cant see

In [26]:
from sklearn.feature_extraction.text import CountVectorizer

In [27]:
cv=CountVectorizer()

In [28]:
cv.fit(df.text)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [29]:
feature_list=cv.get_feature_names()

In [30]:
len(feature_list)

783513

In [31]:
document_term_matrix=cv.transform(df.text)

In [32]:
dense_matrix=document_term_matrix.toarray()

MemoryError: